.banner-catalog-product-page{
    background-image: url('https://cdn-m2.fabelio.com/catalog/product/m/a/manu_2seater_grey_05_1_1.jpg?auto=format&w=1678&ixlib=react-9.0.3');
    height: 75vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}